---
---

@import "{{ site.theme }}"; /* Cargar el tema primero */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* Fuente personalizada */

/* Cambiar la fuente de toda la página */
body,
h1, h2, h3, h4, h5, h6, /* Títulos */
p, /* Párrafos */
a, /* Enlaces */
header p, /* Texto sobre la foto */
footer { /* Footer */
    font-family: "Roboto Slab", serif !important;
}

/* Cambiar el color del texto de los enlaces */
a {
    color: grey !important; /* Cambia a negro */
}

/* Cambiar el color del texto de los párrafos */
p {
    color: black !important; /* Cambia a negro */
}

/* Cambiar el color del texto de los títulos */
h1, h2, h3, h4, h5, h6 {
    color: black !important; /* Cambia a negro */
}

/* Cambiar el color del texto sobre la foto */
header p {
    color: grey !important; /* Cambia a negro */
}

/* Ocultar el texto "This project is maintained by ..." */
footer {
    display: none !important;
}
